<div class="row marketing">
    <h1>Instructions</h1>
    <ol>
        <li>Create a new view, and call it <strong>'shopping-cart.html'</strong> in the app/views folder.</li>
        <li>Create a controller for this view. Call it <strong>'shoppingCartController'</strong> inside the <strong>app/scripts/controllers</strong> folder. Make sure to add the script to the bottom of <strong>app/index.html</strong></li>
        <li>Create a route for the view. Call it <strong>'shopping-cart'</strong>. The routing config can be found in <strong>app/scripts/app.js</strong></li>
        <li>Add a link to this route in the header, which can be found in <strong>app/index.html</strong></li>
        <li>Inject the <strong>dataService</strong> factory into your controller. This factory can be found in <strong>app/scripts/services/dataService.js</strong></li>
        <li>Using the <strong>cartItems</strong> variable from dataService, create a table and use ng-repeat to display the values from the array. Column headings are: <strong>Product Name</strong>, <strong>Product Code</strong>, and <strong>Price</strong></li>
        <li><strong>*BONUS*</strong> create a function to total the price values and display it at the bottom of the table.</li>
    </ol>
</div>
